.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    padding:  0;
   
}
.navigation-heading  {
    color:  var(--main-color);
    margin-left: 1rem;
    font-size: 1.7rem;
    font-weight: 800;
    text-decoration: none;
}
.navbar-search {
    width: 20rem;
    position: relative;
    display: flex;
    align-items: center;
}
.search-box {
    width: 100%;
    border-radius: 5px;
    padding: 0.7rem 0.4rem 0.7rem 3rem;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
}
.search-icon {
    position: absolute;
    padding: 0px 0.8rem;
}
.navbar-right {
    display: flex;
    justify-content: space-evenly;
}
.btn {
    background-color: var(--main-color);
    margin: 0px 1rem;
    padding: 0.5rem;
    min-width: 3rem;
    border-radius: 0.2rem;
    align-items: center;
}
.btn:hover {
    background-color: var(--main-hover);
}
