.sidebar {
    background-color: var(--background);
    width: 8rem;
    height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
}
.sidebar-menu {
   margin: 0.5rem;
   padding-inline-start: 0px;
}
.sidebar-menu li {
    list-style: none;
}
.sidebar-link  {
    padding: 1rem 0 1rem 1rem;
    font-size: 0.7rem;
    cursor: pointer;
}
.sidebar-link .icon{
margin-right: 0.5rem;
}

.sidebar-link:hover {
    color: var(--main-color);
}
@media screen and (max-width: 750px) {
  .sidebar {
    display: flex;
  }
} 



