.App {
 max-height: 100vh;
 height: 100%;
}
:root {
  --main-color: #8b5cf6;
  --background: #fafaf9;
  --main-hover: #a78bfa;
  --black-color: #1e293b;
  
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
} 