.video-card {
    margin: 0;
    width: 100%;
    cursor: pointer;
  }
  .video-card:hover {
    transform: scale(1.03);
    transition: 0.2s;
  }
   .video-card .video-header {
    width: 100%;
    display: grid;
  }
  .video-header img {
    width: 15rem;
    height: 9rem;
  } 
  .video-card .video-body {
    display: flex;
    align-items: flex-start;
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0 0.2rem;
    gap: 0.5rem;
  }
  .video-body img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
  }
  .video-body .video-title {
    font-size: 0.7rem;
    width: 10rem;
    word-wrap: break-word;
    margin-top: 0;
    margin-bottom: 0.1rem;

  }
  .video-title>.icon{
    float: right;
  }
  .video-body .author {
    color: black;
    font-size: 0.6rem;
    margin-bottom: 0.1rem;

  }
  .video-body .icon{
    float: right;
    color: #333333;
    position: relative;
    top: -1.5rem;
    left: 2rem;
    cursor: pointer;
  }
  .video-body .views {
     font-size: 0.5rem;
  }



 

